<div class='floating-label__content'>
  <input
    class='did-floating-input'
    type='{{type}}'
    value='{{value}}'
    name='{{name}}'
    autocomplete='on'
  />
  <label class='did-floating-label'>{{title}}</label>
  {{#if icon}}
    <img class='floating-label__icon' src='{{icon}}' alt='icon' />
  {{/if}}
</div>
