{{#if in}}
  <div class='message-item'>
    <div class='message-item_in'>
      {{message}}
      <div class='message-item_in__time'>{{time}}</div>
    </div>
  </div>
{{else}}
  <div class='message-item flex-end'>
    <div class='message-item_out'>
      {{message}}
      <div class='message-item_in__time'>{{time}}</div>
    </div>
  </div>
{{/if}}
