<div class='container full-width'>
  <div class='did-floating-label-content'>
    <input
      class='did-floating-input'
      type='{{type}}'
      name='{{name}}'
      id='{{id}}'
      placeholder='{{placeholder}}'
      value='{{value}}'
    />
    <label class='did-floating-label'>{{title}}</label>
  </div>
</div>
